{
  "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"variable1\":{\"type\":\"string\"},\"variable2\":{\"type\":\"string\"},\"variable3\":{\"type\":\"string\"},\"variable4\":{\"type\":\"string\"}}}",
  "resources": {
    "styles": {},
    "scripts": {}
  }
}